.header{
    font-size: 30px;
    color: blue;
}
p{
    color: brown;
    /* text-align: center; */
}
ul {
    display: flex;
    align-items: center;
}

ul li{
    list-style: none;
    font-size: 20px;
    margin-right: 20px;
}
